<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="livehelpadmin" frontName="livehelpadmin">
            <module name="Sostanza_LiveHelpAdmin"/>
        </route>
    </router>
</config>